.main {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}
.logo img{
  width: 100px;
}

.back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;
}

.delivery-date {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-info {
  margin-bottom: 3px;
}

.product-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.current-status {
  color: rgb(6, 125, 98);
}

@media (max-width: 575px) {
  .progress-labels-container {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .progress-labels-container {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .progress-label {
    margin-bottom: 3px;
  }
}
.progress-bar-container {
  position: relative;
  height: 25px;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 50px;
  width: 0;
  background-color: green;
  animation: progressBarAnimation 2s ease-in-out forwards;
}

.progress-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

@keyframes progressBarAnimation {
  0% {
      width: 0;
      background-color: green;
  }
  33% {
      width: 33%;
      background-color: yellow; /* Change color at 33% */
  }
  66% {
      width: 66%;
      background-color: green; /* Change color at 66% */
  }
  100% {
      width: 100%;
      background-color:green; /* Change color at 100% */
  }
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.progress-label {
  flex: 1;
  text-align: center;
}

.current-status {
  font-weight: bold;
}